body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	/*padding-bottom: 638px; */
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 40px;
	float: left;
}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px; 
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;  
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
	line-height: 1.55em;
}

.company {
	margin-top: 50px; 
}

.company_item {
	width: 270px;
	float: left;
	text-align: center;
}

.company_item h3 {
	font-size: 18px;
	margin-bottom: 5px; 
}

.company_item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.company_item:last-child {
	float: right;
}

.company_item:nth-child(2) {
	margin-left: 60px;
}

#company {
	padding-bottom: 120px;
}

#glasses {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.picture {
	margin-top: 15px;
}

#lenses {
	padding-bottom: 120px;
}

.description_lenses {
	margin-top: 40px;
	padding-bottom: 30px;
}

.coating {
	width: 450px;
	float: left;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.coating h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px; 
	text-align: left;
}

.coating p {
	margin-top: 6px;
	color: #777777;
	font-size: 14px;
	line-height: 1.45em;
	text-align: left;
}

.foto {
	margin-right: 0;
}

.one {
	margin-top: 10px; 
	color: #58a9c4;
}

.two {
	margin-top: 20px;
	color: #face70;
}

.three {
	margin-top: 20px;
	color: #e89ed5;
}

.four {
	margin-top: 20px;
	color: #87db7f;
}

#climate {
	background: #f7f7f7;
	padding-bottom: 50px;
}

h4 {
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 0;
	line-height: 1.55em;
}

p {
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	margin: 0;
	padding-top: 5px;
}

.forma {
	margin: 85px 0 70px; 
	padding: 50px 0 0;
	width: 450px;
	height: 465px;
	background: #2c2c2c;
	border-radius: 13px;
	text-align: center;
	float: left;
}

form {
	padding: 25px 0 0;
}

input[type="text"], input[type="tel"] {
	width: 345px;
	height: 42px;
	font-size: 18px;
	background: #ffffff;
	margin-bottom: 14px;
	border-radius: 5px;
	padding-left: 15px;
	border-width: 0;
	-moz-box-shadow:0 0 7px #090909; 
	-webkit-box-shadow:0 0 7px #090909; 
	box-shadow:0 0 7px #090909;
}

.dws-submit {
	margin-top: 25px;
	padding: 25px 123px;
	font-weight: bold;
	font-size: 18px;
	color: #222222;
	background-color: #fed136;
	border-width: 0;
	border-radius: 13px;
	cursor: pointer;
}

.dws-submit:hover {
	transition: all 0.2s;
	-moz-box-shadow:0 0 20px #090909; 
	-webkit-box-shadow:0 0 20px #090909; 
	box-shadow:0 0 20px #090909;
}

.advantages {
	margin-left: 40px;
	width: 440px;
	float: left;
	text-align: left;
	padding: 85px 0 60px;
}

.form_item {
	padding: 0;
	margin: 64px 0 0;
	width: 440px;
}

.icon {
    margin-right: 18px;
    width: 75px;
    height: 75px;
    float: left;
} 

.form_item h3 {
	margin: 4px 0 0;
	font-size: 18px;
	color: #222222;
	text-align: left;
}

.form_item p {
	margin: 0;
	color: #777777;
	font-size: 14px;
	text-align: left;
	line-height: 1.55em;
}

footer {
	color: #555555;
	text-align: center;
	padding: 0 0 60px;
}